.Box-2 {
    display: none;
}
@media only screen and (min-width: 1024px) {

    .box-2 .aside-green-line {
        float: right;
        border-top: 2px solid #69a362;
        width: 88%;
      }
      .box-2 {
        display: block;
        background-color: #373867;
        width: 28%;
        border-bottom-right-radius: 10px;
        box-sizing: border-box;
        position: absolute;
        padding-top: 40px;
        top: 139px;
        bottom: 0;
        border-left: 50px solid #aace9b;
      }
    
      .box-2 ul.buttons {
        list-style: none;
      }
    
      .box-2 li {
        background-color: #aace9b;
        display: block;
        text-align: center;
        border-radius: 5px;
        padding: 10px 10px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
     
      .box-2 li:first-child {
        margin-top: 50px;
      }
    
      .box-2 li:nth-child(2) {
        padding: 10px 5px;
      }
    
      .box-2 li a {
        text-decoration: none;
        color: black;
        text-align: center;
        position: relative;
      }
    
      .box-2 h4 {
        color: white;
        font-weight: 700px;
        font-style: bold;
        font-size: 20px;
        line-height: 23.44px;
        text-align: left;
        margin-top: 90px;
        margin-left: 5px;
        margin-bottom: 25px;
      }
    
      .box-2 p {
        color: white;
        font-weight: 400;
        width: 100%;
        font-size: 13px;
        line-height: 15.23px;
        margin-left: 5px;
        margin-bottom: 30px;
      }
    
      .box-2 .contact {
        margin-top: 40px;
        text-align: center;
      }
    
      .box-2 .contact p {
        font-weight: 700;
      }
    
      .box-2 img {
        display: inline-block;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 7px;
      }
}

