.box-1 .container {
  background-color: #aace9b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-1 .btn-hamburguer div {
  width: 35px;
  height: 3px;
  background-color: #373867;
  margin: 6px 0;
}

.box-1 .mobile.buttons {
    display: none;
}

.box-1 h1 {
  font-family: "Roboto", sans-serif;
  color: #373867;
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  line-height: 53px;
}

.box-1 h2 {
  font-family: "Roboto", sans-serif;
  color: #69a362;
  font-weight: 700;
  font-style: bold;
  font-size: 15px;
  line-height: 31.64px;
  text-align: right;
  margin-top: 7px;
  margin-top: 0px;
}

@media only screen and (min-width: 768px) {
  .box-1 h1 {
    font-size: 60px;
    line-height: 73px;
  }
  .box-1 h2 {
    font-size: 22px;
  }
  .box-1 .btn-hamburguer div {
      height: 5px;
  }
}

@media only screen and (min-width: 1024px) {
  .box-1 h1 {
    font-size: 86px;
    line-height: 100.78px;
  }
  .box-1 h2 {
    font-size: 27px;
    line-height: 50.64px;
  }
  .box-1 .btn-hamburguer {
      display: none;
  }
  .box-1 .container {
      justify-content: flex-end;
  } 
}
