@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('./reset.css');

body {
    height: 100%;
    position: relative;
}

div.container {
    margin: 0 auto;
    padding: 0 15px;
}

hr.green-line {
    float: right;
    border-top: 2px solid #69A362;
    width: 88%;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    position: relative;
}

.box-1 {
    background-color: #AACE9B;
}

.box-1 h1 {
    font-family: 'Roboto', sans-serif;
    color: #373867;
    font-weight: 700;
    font-style: bold;
    font-size: 86px;
    line-height: 100.78px;
    text-align: right;
    margin-bottom: 7px;
}

.box-1 h2 {
    font-family: 'Roboto', sans-serif;
    color: #69A362;
    font-weight: 700;
    font-style: bold;
    font-size: 27px;
    line-height: 31.64px;
    text-align: right;
    margin-top: 7px;
    margin-top: 0px;
}

.box-2 {
    background-color: #373867;
    width: 15%;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    padding-top: 40px;
    height: 100%;
    border-left: 50px solid #AACE9B;
}

.box-2 ul.buttons {
    list-style: none;

}

.box-2 li {
    background-color: #AACE9B;
    display: block;
    text-align: center;
    border-radius: 5px;

}

.box-2 li:first-child {
    padding: 10px 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.box-2 li:nth-child(2) {
    padding: 10px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-2 li:last-child {
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-2 h4 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700px;
    font-style: bold;
    font-size: 20px;
    line-height: 23.44px;
    text-align: left;
    margin-top: 90px;
    margin-left: 5px;
    margin-bottom: 2px;
}

.box-2 p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    width: 100%;
    font-size: 13px;
    line-height: 15.23px;
    margin-left: 5px;
    margin-bottom: 30px;
}

.box-2 .contact {
    text-align: center;
}

.box-2 .contact p {
    font-weight: 700;

}

.box-2 img {
    display: inline-block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 7px;
}

main {
    margin-left: 250px;
    width: 85%;
}

.Box-03 {
    padding-bottom: 180px;
}

.Box-03 h2 {
    font-family: 'Roboto', sans-serif;
    color: #373867;
    font-weight: 700;
    font-style: bold;
    font-size: 72px;
    line-height: 100px;
    margin-top: 60px;
}

.Box-03 h3 {
    font-family: 'Roboto', sans-serif;
    color: #373867;
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    margin-top: 5px;
}

.Box-03 img {
    float: right;
}

.Box-03 p {
    font-family: 'Roboto', sans-serif;
    color: #373867;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: 120px;
}

.Box-04,
.Box-05,
.Box-06,
.Box-07,
.Box-08 {
    width: 100%;
    display: inline-block;
    border-top: 5px solid rgba(170, 206, 155, 0.7);
}

.Box-04 h3 {
    font-family: 'Roboto', sans-serif;
    color: #373867;
    font-weight: 700px;
    font-style: Bold;
    font-size: 48px;
    line-height: 56px;
    text-align: left;
    margin-top: 120px;
    margin-left: 50px;
    margin-bottom: 0;
}

.Box-04 h4 {
    font-family: 'Roboto', sans-serif;
    color: #373867;
    font-weight: 700px;
    font-style: Bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

.Box-04 .features {
    display: inline-block;
    width: 100%;
}

.Box-04 .feature {
    float: left;
    width: 50%;
    margin: 60px 0;
}

.Box-04 .feature.right {
    float: right;
}

.Box-04 .feature img {
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-left: 25px;
    opacity: 60%;
}

.Box-04 .feature.right img {
    width: 130px;
}

.Box-04 .feature p {
    width: 85%;
    padding-top: 35px;
    padding-left: 10px;
    text-align: center;
}

.Box-05 {
    width: 100%;
    display: inline-block;
}

.Box {
    float: left;
    width: 40%;
    margin: 50px;
    border: 5px solid #69A362;
    padding: 35px;
    box-sizing: border-box;
    height: 300px;

}

.Box.Right {
    float: right;
}

.Box-05 h3 {
    font-family: 'Roboto', sans-serif;
    color: #AACE9B;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
    width: 85%;
    padding-left: 30px;
}

.Box-05 p {
    font-family: 'Roboto', sans-serif;
    color: #373867;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.Box-06 h3 {
    font-family: 'Roboto', sans-serif;
    color: #373867;
    font-weight: 700;
    font-size: 48px;
    text-align: left;
}

.Box-06 form {
    padding: 30px;
}

.Box-06 label {
    display: block;
}

.Box-06 .input {
    padding: 15px;
    width: 100%;
    background-color: #373867;
    opacity: 40%;
    border-radius: 10px;
}

.Box-06 textarea {
    padding: 15px;
    width: 100%;
    background-color: #373867;
    opacity: 40%;
    border-radius: 10px;
}

.Box-06 .submit {
    box-sizing: border-box;
    display: inline-block;
    width: 10%;
    background-color: #AACE9B;
    color: black;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 15px;
    border-radius: 10px;
}

.Box-06 .label {
    font-family: 'Roboto', sans-serif;
    color: #373867;
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    padding: 10px;
}

.Box-06 .checkboxes {
    width: 100%;
    display: inline-block;
    margin: 60px 0;

}

.Box-06 .checkbox {
    float: left;
    width: 33%;
}
.Box-06 .checkbox label {
    float: left;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    color: #373867;
    font-weight: 700;
    font-size: 18px;
}
.Box-06 .checkbox input {
    float: left;
}

.Box-07 {
    font-family: 'Roboto', sans-serif;
    color: #373867;
    text-align: center;
    margin-bottom: 100px;
}

.Box-07 h2 {
    font-size: 64px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 30px;
}

.Box-07 p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.Box-07 .history {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 65px;
}

.list {
    float: left;
    width: 33%;
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
}

.list h4 {
    font-family: 'Roboto', sans-serif;
    color: #AACE9B;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.list ul {
    font-family: 'Roboto', sans-serif;
    color: #373867;
    font-weight: 700;
    font-size: 20px;
    padding: 25px;
    padding-left: 160px;
    margin-bottom: 100px;
}


footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #AACE9B;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    color: #373867;
    font-size: 18px;
    font-weight: 700;
}

footer p {
    margin-top: 20px;
}