<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/sidebar.css">
    <link rel="stylesheet" href="../styles/sing-up.css">
    <script src="../javascript/employee-signup.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing Up</title>
</head>

<body>
    <header class="box-1">
        <div class="container">
            <div class="title">
                <h1>Trackgenix</h1>
                <h2>We're Trackgenix SA</h2>
            </div>
        </div>
    </header>
    <aside class="box-2">
        <hr class="green-line" />
        <div class="container">
            <ul class="buttons">
                <li><a href="index.html">Home</a></li>
                <li><a href="employee-signup.html">Sing Up</a></li>
                <li><a href="login.html">Log In</a></li>
            </ul>
        </div>
        <hr class="green-line" />
        <div class="container">
            <h4>Contact</h4>
            <p>
                Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit
                lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam
                facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
            </p>
            <div class="contact">
                <img src="../images/email.png" alt="e-mail" />
                <p>information@untitled.tld</p>
                <img src="../images/phone.png" alt="tel" />
                <p>Tel.: (000) 000-0000</p>
                <img src="../images/house.png" alt="house" />
                <p>1234 Somewhere Road #8254 Nashville, TN 00000-0000</p>
            </div>
        </div>
    </aside>
    <main>
        <div class="Box-03">
            <div class="container sing-container">
                <h2>Sing Up</h2>
                <form action="*" id="signup">
                    <input type="text" placeholder="Full Name" id="fullName" name="fullName">
                    <input type="text" placeholder="DNI" id="dni" name="dni">
                    <input type="date" placeholder="Birthday" id="birthday" name="birthday">
                    <input type="text" placeholder="Tel." id="tel" name="tel">
                    <input type="text" placeholder="Adress" id="adress" name="adress">
                    <input type="text" placeholder="Location" id="location" name="location">
                    <input type="text" placeholder="C.P." id="cp" name="cp">
                    <input type="text" placeholder="Email" id="email" name="email">
                    <input type="password" placeholder="Password" id="password" name="password">
                    <input type="password" placeholder="Confirm Password" id="confirmp" name="confirmp">
                    <input class='button' type="submit" value="Create account">
                    <div id="error">
                        <img src="" alt="">
                        <span>Wrong Input</span>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <p>Rosario, Santa Fe - Argentina</p>
        <p>Copyright © 2022 Trackgenix SA. All rights reserved.</p>
    </footer>
</body>

</html>